*{
    margin: 200;
    padding: 19;

}
form{
    text-align: center;
}
#name{
   width: 200px;
   
}
header{
    font-size: 1.5rem;
}

button{
    background-color: blueviolet;
}

input{
    height: 30px;
    border-radius: 10px;
}
::placeholder{
    padding: 10px;
}
